<div class="container mt-4">
    <div class="row m-0">
        <% decks.map((deck)=>{%>
            <div class="col-md-4">
                <div class="card bg-dark text-white w-100 d-flex flex-column align-items-center justify-content-center">
                    <div class="py-2">
                        <h4><%= deck.title %></h4>
                    </div>
                    <div class="card-randomizer-image rounded"></div>
                    <div class="py-2 w-100 px-5 d-flex justify-content-center">
                        <% if(deck.players_count > 0 ){%>
                            <% for (var i = 0; i < deck.players_count; i++){ %>
                                Players joined <%= deck.players_count %>/8
                            <% } %>
                        <% } else { %>
                            Players joined 0/8
                        <% } %>
                    </div>
                    <div class="pb-3 pt-2">
                        <a href="/joinGame/<%= deck.id %>">
                            <button class="btn btn-success">Join game</button>
                        </a>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>